// Page Related CSS
.our-services .section.singleparallax {
    background: #fff;
    .floater {
        h2 {
            color: #000;
        }
        p {
            color: #000;
        }
    }
}



@import 'software';

@import 'global-offices';