.software-solutions {
    .floater {
        width: 685px;
        max-width: 685px;
    }
    .hide-for-now {
        display: none !important;
    }
    .section.trio {
        text-align: center;
    }
}