.mfp-content {
    #main {
        background: #fff;
        max-width: 1200px;
        padding: 15px;
        font-size: 1.4rem;
        margin: 0 auto;

        h1 {
            font-size: 2.4rem;
        }
        h2 {
            font-size: 2rem;
        }
    }
}